<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
<h1>Write your name, age, and a message!</h1>
<br>
<form action="/" method="POST" style="max-width:500px;margin:auto">

  <div >
    <input  type="text" placeholder="quote" name="quote">
  </div>
  <div >
    <input  type="text" placeholder="author" name="author">
  </div>
  <div >
    <input  type="text" placeholder="age" name="age">
  </div>

  <button type="submit" class="btn">submit</button>
</form>
 
</body>
</html>